<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>仿byr首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <style>
        #context .r-side{display: flex;}
    </style>
</head>
<body>
<%- include nav %>

        <!--这是<%=  page  %>-->
        <div class="blocks">
            <div class="block-content">
                <div class="title">
                    <!-- social -->
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>信息社会
                </div>
                <div class="block-inside">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#">版面列表</a></li>
                        <li role="presentation"><a href="#">热门话题</a></li>
                    </ul>
                    <ul class="info-line" id="social">
                        <!--<li><a id="zhichang" href="">[职场人生]</a><a href=""></a></li>
                        -<li></li>
                         <li></li>-->
                        <% for(var i=0;i<result.length;i++){  %>
                            <li >
                                <a href="articleList?blockNum=<%=result[i].blockNum%>">[<%=result[i].blockName%>]</a>
                                <a href="articleContent?blockNum=<%=result[i].blockNum%>&rid=<%=result[i].latestRid%>"><%=result[i].latestText%></a>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="block-content">
                <div class="title">
                    <!-- hotfile -->
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>十大热门
                </div>
                <div class="block-inside">
                    <ul class="info-line">
                        <li><a href="index">[假假假假]</a><a href="">2金杜律师事务所和汉得信息offer求比较</a></li>
                        <li><a href="">[假假假假]</a><a href="">2金杜律师事务所和汉得信息offer求比较</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blocks">
            <div class="block-content">
                <div class="title">
                    <!--imgshow-->
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>贴图秀
                </div>
                <div class="block-inside">
                    <ul class="info-line">
                        <li><a href="">[假假假假]</a><a href="">3金杜律师事务所和汉得信息offer求比较</a></li>
                        <li><a href="">[假假假假]</a><a href="">3金杜律师事务所和汉得信息offer求比较</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blocks">
            <div class="block-content">
                <div class="title">
                    <!-- science -->
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>学术科技
                </div>
                <div class="block-inside">
                    <ul class="info-line">
                        <li><a href="">[假假假假]</a><a href="">4金杜律师事务所和汉得信息offer求比较</a></li>
                        <li><a href="">[假假假假]</a><a href="">4金杜律师事务所和汉得信息offer求比较</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>


<%- include nav-foot.ejs %>
<script>
    $(function(){
        /*$.get("/social/list",{"blockNum":1}, function (result) {
             alert("进入考研专版");
             location.href="articleList.ejs";
         });*/


        $("#kaoyan").click(function () {

            $.ajax({
                url:"/social/list",
                data:{
                    "blockNum":1
                },
                success:function(data){
                    location.href="articleList?result="+data.result.blockNum;
                    //alert(JSON.stringify(data));
                },
                error:function(){
                    alert("err");
                }
            }).always(alert("跳转"));
        })



    })
</script>
</body>
</html>